<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Logo</span>
    <span class="example-spacer"></span>

    <a mat-button routerLink="/" routerLinkActive="active">About Us</a>
    <a mat-button routerLink="/">Contact Us</a>

    <div *ngIf="needLogin; else userLoggedIn">
      <a mat-button routerLink="/login">Login</a>
      <a mat-button routerLink="/register">Register</a>
    </div>
    <ng-template #userLoggedIn>
      <div [matMenuTriggerFor]="menu">
        <a mat-button>{{ user.firstName }}</a>
        <img mat-card-avatar src="{{ user.photoUrl }}" />
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span (click)="logout()">Logout</span>
        </button>
      </mat-menu>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
