<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Logo</span>
    <span class="example-spacer"></span>

    <a mat-button routerLink="/" routerLinkActive="active">About Us</a>
    <a mat-button routerLink="/">Contact Us</a>
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Register</a>
    <a
      mat-fab
      color="primary"
      class="login-user-image-background"
      [ngStyle]="setProfileImage()"
    ></a>
  </mat-toolbar-row>
</mat-toolbar>
