/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url("assets/img/background.jpg");
  background-position: center;
  background-size: 100%;
}

.naigation-menu {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  max-width: 400px;
}

.clearfix{clear:both;}
.pointer{cursor: pointer;}
.ucfirst{text-transform: capitalize;}
.min300{min-height:300px}
.app-box{
    padding: 10px;
    margin-bottom:20px;
    height: 230px;
    background: #b5e8d4;
    overflow: hidden;
    box-shadow: 1px 1px 4px #ccc;
}
.app-box:hover{
    box-shadow: 1px 1px 4px #999;
}
.app-box .remove{
    position: absolute;
    right: 21px;
    top: 0px;
    color: #545454;
    display:none;
}
.app-box:hover .remove{
    display:block;
}
.inline-btn{
    background: #00b970;
    padding: 1px 5px;
    color: white;
    display: inline-block;
    margin-bottom: 5px;
}
.box{
    padding: 10px;
    margin-bottom:10px;
    overflow: auto;
    box-shadow: 1px 1px 4px #ddd;
}
.form-group .form-control{
    font-size:inherit;
    background-color: inherit;
}

.dndDropArea{
    padding: 10px;
    /* border: dotted #ddd 2px; */
}

.dndDropArea.empty{
    min-height:200px;
    border: dotted #ddd 2px;
}

.field{
    padding:5px;
    margin-bottom:10px;
    position: relative;
}
.field:hover{
    box-shadow: 1px 1px 4px #ddd;
}
.toggle-Wrapper{
    padding: 15px;
    background: #d6d6d629;
}
.dndHandle{
    cursor: pointer;
    color: #999;
}
.dndDraggingSource{
    opacity:0.3;
}
.dndPlaceholder{
    background: rgb(206, 238, 238); border-radius: 2px; padding: 20px;
    margin-bottom:10px;
}
.field .fa{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 24px;
    vertical-align: middle;

}
.red{color:#d9534f}
.fa-trash{color:#d9534f}
.marginT60{
    margin-top:60px;
}

.color-red{color:red;}
.report-block{
    padding:10px;
    background:#f8f8f8;
    margin-bottom:20px;
}
.report-block .row:nth-child(even){
    background:#fff;
}

.ftheme{
    width:100%;
}

.dndDropArea .field .fa{
    opacity:0;
}
.dndDropArea .field:hover .fa{
    opacity:1;
}

.colorpick{
    height: 25px;
    background: white;
    border: none;
}
.footer {
    position: absolute;
    bottom: 0px;
}
.login .mat-form-field-infix {
    width:100% !important;
}
.login .mat-form-field{
    display: block !important;
}
.login .mat-card {
    text-align: center;
    padding: 20px 20px 30px 20px;
    border-radius: 6px;
    transform: translate(-50%, 35%) !important;
    background: #efefef;
}
.login .mat-raised-button {
    min-width: 120px !important;
    margin-top: 10px;
}
.login .mat-card-header {
    display: block !important;
    margin-bottom: 20px !important;
}
.login .mat-card-header .mat-card-title {
    font-size: 36px !important;
    letter-spacing: 1px;
    margin: 10px 0px 20px 0px;
}
.login .mat-card {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 3px #ccc;
}
.login .mat-card-actions {
    transform: none !important;
    left:auto !important;
    right:auto !important;
}
.login #google {
    background: #e74235;
    color: white;
    width: 175px;
    margin-left: 8px;
    margin-bottom: 10px;
}
.login #facebook {
    background: #3b5997;
    color: white;
    width:175px;
}